<<<<<<< HEAD
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background-image: url("../images/nza_background.jpg");
    background-size: cover;
}

#homepage{
    background-color: #fff;
    min-height: 100vh
}

.homesidebar {
    background: url(../images/nav_side_sub.jpg);
    color: #fff;
    padding: 10px;
}

.homesidebar hr{
    background-color: #fff;
}

.home-image, .homesidebar {
    height: 500px;
}

.homepage-container {
    padding: 0px 25px;
}

.home-list-group-container {
    list-style-type: none;
    padding-left: 0;

}

.homepage-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}




=======
/*css page*/
>>>>>>> upstream/master
