* {
    font-family: Arial, Helvetica, sans-serif;
}

.woodenbackground{
    background-image: url(../images/nza_background.jpg);
    background-repeat: repeat;
    height: 100%;
}

.paperpiece{
    background-color: white;
    margin-bottom: 10%;
    padding: 0px 50px 50px 50px;
}

.navigation{
    border-style: solid;
    border-color: black;
    border-width: 2px 0px;
}

.nav-item{
    color: black;
    font-size: 1vw;
    padding: 0;
}

.nav-item:hover{
    color: grey;
}

#active{
    color: #793026;
}

.nav-item:not(:last-child) {
    border-right: solid 1px;
    border-color: #d7d7d7;
    border-radius: 0px;
}

/* css for footer - done by Nisarg */
p.p1{
    text-align: center;
    font-size: .7vw;
    color: grey;
    margin-bottom: 10px;
}

p.p1:before, p.p1:after{
    background-color: #c7c7c7;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 34%;
}

p.p1:before{
    right: 0.5em;
    margin-left: -50%;

}
p.p1:after{
    left: 0.5em;
    margin-right: -50%;
}

p.p2{
    font-size: .7vw;
    color: grey;
    padding: 10px 0;
}

#before:before {
    background-color: #ffffff;
}

#after:after {
    background-color: #ffffff;
}

.f1 {
    color: #000000 !important;
    font-size: .7vw !important;
    padding: 30px !important;
}

.f2 {
    color: grey;
    font-size: .5vw;
}

footer {
    border-top: solid 2px;
    border-color: black;
}

#in-line {
  display: inline !important;
}

.f1:hover {
    text-decoration: none;
    color: grey !important;
}

#f3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

/*---------------------------------header image - ken-----------------------------*/
.login_reg {
    border-color: lightgrey;
}
.btn, .btn:hover, .btn:active{
    font-size: .5vw;
    background-color: lightgrey !important;
    padding: 13px 0px 13px 0px !important;
    border-color: lightgrey;
    border: 0px;
    color: grey;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
}
.btn_sm {
    padding: 20px,;
}

.create_btn {
    color: #43464b;
    border-color: grey;
}
.a {
    margin: 50px;
}
.btn-outline-primary:focus, .btn-outline-primary:active {
    box-shadow: white;
}

.login_b {
    color: black;
}
.login_b:hover {
    color: darkgray;
    text-decoration: none;
}
