* {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    border-style: solid;
    border-color: black;
    border-width: 2px 0px;
}

.nav-item{
    color: black;
    font-size: 1.5vw;
    padding: 0;
}

.nav-item:hover{
    color: grey;
}

#active{
    color: #793026;
}

.nav-item:not(:last-child) {
    border-right: solid 1px;
    border-color: #d7d7d7;
    border-radius: 0px;
}

/*f1, f2, footer, ul#menu li and .f1:hover created by Nisarg Patel*/

.f1 {
    color: #000000 !important;
    font-size: 14px !important;
}

.f2 {
    color: grey;
    font-size: 9px;
}

footer {
    border-top: solid 2px;
    border-color: black;
}

ul#menu li {
  display:inline;
  padding-left: 25px;
  padding-right: 25px;
}

.f1:hover {
    text-decoration: none;
    color: grey !important;
}
/*---------------------------------header image - ken-----------------------------*/
.login_reg {
    border-color: lightgrey;
}
.btn, .btn:hover{
    font-size: 12px;
    background-color: lightgrey;
    padding: 13px 0px 13px 0px !important;
    border-color: lightgrey;
    border: 0px;
    color: grey;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
}
.btn_sm {
    padding: 20px,;
}

.create_btn {
    color: #43464b;
    border-color: grey;
}
.a {
    margin: 50px;
}
.btn-outline-primary:focus {
    box-shadow: white;
}
.show>.btn-outline-primary.dropdown-toggle {
    background-color:grey !important;
    border-color: grey;
}
.login_b {
    color: black;
}
.login_b:hover {
    color: darkgray;
    text-decoration: none;
}
